body {
	margin-right : 40px;
}
.settingsElement {
	width : 10%;
	padding : 2px;
}
.debug-content {
	background-color :  #fefefe;
	margin : 3%auto;
	padding : 1%;
	border : 1px solid #888;
	width : 90%;
}
.erib_debug {
	display : none;
	position : fixed;
	z-index : 1;
	overflow : auto;
	background-color : rgb(0, 0, 0);
	background-color : rgba(0, 0, 0, 0.4);
	width : 90%;
	height : 90%;
	top : 5%;
	right : 5%;
}
.receipt-content {
	background-color :  #fefefe;
	margin : 5%auto;
	padding : 3%;
	border : 1px solid #888;
	width : 80%;
}
.erib_receipt {
	display : none;
	position : fixed;
	z-index : 1;
	overflow : auto;
	background-color : rgb(0, 0, 0);
	background-color : rgba(0, 0, 0, 0.4);
	width : 31%;
	height : 70%;
	top : 13%;
	right : 2%;
}
.closeit {
	color :  #f00;
	font-size : 20px;
	float : right;
	position : relative;
	top : 3%;
	left : -7%;
	padding : 6px;
}
.closeit : hover, closeit : focus {
	color :  #00f;
	cursor : pointer;
}
.save2File {
	position : fixed;
	top : 4px;
	right : 12px;
	height : 50px;
	width : 90px;
	text-align : right;
}
.center {
	margin : 0 50px 20px 0;
	width : 70%;
	background-color :  #b0e0e6;
}
.statusOk {
	background-color :  #66ff33;
}
.statusWrn {
	background-color :  #ff9933;
}
.statusErr {
	background-color :  #ff3333;
}
.statusFatal {
	color :  #ffff00;
	background-color :  #ff3333;
}
.status {
	padding : 0 0.5%;
	overflow-y : auto;
	width : 59%;
	height : 8%;
	position : fixed;
	top : 0%;
	right : 5px;
	font-size : 80%;
	text-align : centre;
}
.debug {
	position : fixed;
	top : 5px;
	right : 4px;
	font-size : 90%;
	text-align : right;
}
.invisible {
	background-color :  #bebebe;
	border : 1px dotted black;
	color : white;
}
input {
	width : 40%;
	margin : 0 10px 10px 0;
}
input.small {
	width : 10px;
	margin : 0 10px 10px 0;
}
select {
	width : 40%;
	margin : 0 10px 10px 0;
}
.disabled {
	background-color :  #8A0000;
	border : 1px dotted red;
	color :  #8C8888;
}
.ignore {
	width : 15px;
	margin : 2px 2px 2px 2px;
}
.readonly {
	background-color :  #dddddd;
	border : 1px solid black;
}
div.submenu {
	width : 580px;
	border-width : 1px;
	border-style : inset;
}
div.menu {
	border-width : 1px;
	border-style : inset;
}
form.border {
	background-color : rgba(255, 255, 255, 0.8);
	padding : 5px;
	border-width : 2px;
	border-style : outset;
	width : 600px;
	z-index : -1;
}
td.border {
	border : 1px solid red;
	border-style : outset;
}
div.border {
	z-index : -1;
	border-width : 1px;
	border-style : inset;
}
div.showresult {
	background-color :  #b2b29b;
	border : 1px solid black;
}
.option {
	background-color :  #ffffe0;
	border : 1px solid black;
}
.choose1 {
	background-color :  #cc5200;
}
.choose2 {
	background-color :  #e65c00;
}
.choose3 {
	background-color :  #ff6600;
}
.choose4 {
	background-color :  #ffff00;
}
.wide {
	width : 600px;
	padding : 5px;
}
.version {
	position : fixed;
	bottom : -25px;
	right : 4px;
	text-align : right;
}
.error {
	border : 2px solid red;
}
.required {
	border : 2px solid blue;
}
tr.level1 {
	font-size : 100%;
}
tr.level2 {
	font-size : 90%;
}
tr.level3 {
	font-size : 80%;
}
tr.level4 {
	font-size : 70%;
}
.notAllowed {
	color :  #ff3366;
	background-color :  #ffd8d8;
	border-color : red;
}
.settings {
	background-color :  #fefefe;
	margin : 1%auto;
	padding : 2%;
	border : 1px solid #888;
	height : 60%;
	width : 90%;
}
.globalSettings {
	display : none;
	position : fixed;
	z-index : 1;
	overflow : auto;
	background-color : rgb(0, 0, 0);
	background-color : rgba(0, 0, 0, 0.4);
	width : 95%;
	height : 40%;
	top : 2%;
	left : 2%;
}
.submit {
	width : 160px;
	position : relative;
	left : 220px;
}
.description {
	display : inline-table;
	padding : 2px;
}
.menu {
	width : 39%;
}
.operations {
	width : 90%;
	border-left : 1px solid;
	border-bottom : 1px solid;
	border-radius : 3px;
}
.request {
	width : 85%;
	border-left : 8px solid;
	border-radius : 2px;
	border-color :  #0f5;
}
.postdata {
	width : 50 %
}
.section div {
	position : relative;
	padding-left : 5px;
}
.menucontainer {
	background-color : rgb(f, f, f);
	background-color : rgba(f, f, f, 0.4);
	top : 32px;
	left : 15px;
	width : 97%;
}
.optionaldiv {
	width : 36%;
}
.showresult, form {
	z-index : 1;
}